
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html>
<head>
    <title>Games - RZ</title>
</head>

<body>
    <h1>Games</h1>

    <nav aria-label="Navigation" class="primary-navigation" role="navigation">
        <ul class="navigation-item-group">
            <li class="nav-item"><a href="/">HOME</a></li>
            <li class="nav-item"><a href="/TicTacToe">Tic-Tac-Toe Game</a></li>
            <li class="nav-item"><a href="/PicSwap/Index">Pic-Swap</a></li>
        </ul>
    </nav>
</body>
</html>

