
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html>
<head>
    <title>RZ</title>
</head>

<body>
    <h1>RZ</h1>

    <nav aria-label="Navigation" class="primary-navigation" role="navigation">
        <ul class="navigation-item-group">
            <li class="nav-item"><a href="/">HOME</a></li>
            <li class="nav-item"><a href="/Game/Index">Games</a></li>
            <li class="nav-item"><a href="/Comment/Index">Comments</a></li>
        </ul>
    </nav>
</body>
</html>

